body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    width:210mm;
    height:297mm;
    /* border:1px #f00 solid; */
}

.container {
    /* margin-top: 2.66666667em; */
    /* writing-mode: tb-lr; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h1,
strong,
a {
    color: rgb(102, 121, 223);
}

ul {
    list-style-type: none;
    padding: 0;
}

dl {
    margin: 0;
}

dl dt {
    font-weight: bold;
    font-size: 1.04em;
}


/* css for header */

header {
    display: flex;
}

h1 {
    margin-bottom: 0;
}

address {
    font-style: normal;
}

.contact li span {
    padding:0px;
    writing-mode: lr;
    /* width: 5.33333333em; */
    /* 80/15 */
    text-align: right;
    display: inline-block;
}


/* end header */


/* css for content */

.content {
    display: flex;
    /* margin-top: 1.33333333em; */
}

.content > article > section {
    padding: .4em 0;
}


h2 {
    font-size: 1.33333333em;
    /* 20/15 */
    padding-bottom: .33333333em;
    /* 5/15 */
    border-bottom: 3px solid rgb(174, 204, 129);
}


/* end content */

.circle {
    width: .53333333em;
    height: .53333333em;
    /* 8/15 */
    margin: 0 .66666667em;
    /* 10/15 */
    background: black;
    border-radius: 100%;
    display: inline-block;
}


/* css for education */

.edu-year {
    width: 5.8em;
    display: inline-block;
}

.edu-content {
    display: inline-block;
    margin-left: 6.7em;
    /* (87+10+4-0.5)/15 */
    padding-left: .9em;
    /* 13.5/15 */
    border-left: .06666667em solid black;
    /* 1/15 */
}

.edu-title {
    font-weight: bold;
    margin-bottom: .2em;
    /* 3/15 */
    display: inline-block;
}

.edu-placeholder {
    height: .625em;
    border-left: 1px solid black;
    margin-left: 6.7em;
    /* (87+10+4-0.5)/15 */
}


/* end education */


/* css for project */

.project dl dt {
    margin-bottom: .2em;
    /* writing-mode: lr-tb; */
}

.project dl dd {
    margin-left: .26666666em;
    /* 26666666.5/2 */
    padding-left: .9em;
    /* 13.5/15 */
    border-left: .06666667em solid black;
    /* 1px */
}
.project .circle {
    margin-left: 0em;
}
.project ul {
    break-inside: auto;
    /* display: inline-block; */
}
.project li {
    display: inline-block;
    writing-mode: tb-lr;
}
.project dl dd:first-child {
    padding-top: .66666667em;
    /* 10/15 */
}
.project dl dd:first-child span {
    display: inline-block;
    width: 6em;
    background-color: rgb(233,236,251);
    color: rgb(102, 121, 223);
    font-size: .8em;
    text-align: center;
    margin-left: 1em;
    line-height: 1.5em;
    border-radius: .75em;
}
.project dl dd:last-child {
    padding-bottom: .66666667em;
}

.key-point {
    background: rgb(102, 121, 223);
    color: white;
    padding: .13333333em .33333333em;
    /* 2px 5px */
    margin: .33333333em 0 .6em 0;
    /* 5/15 */
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    
    /* 14/16 */
}


/* end project */
.money-ul li.active:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background: transparent;
    bottom: 3px;
    right: 0px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
    z-index: 9;
}

.award-item:before,
.skill-item dd:before,
.other-item li:before,
.eval-item li:before,
/* .project dl dd li:before {
    content: "";
    background: url('../img/check.png') no-repeat;
    /* 打勾 */
    /* background-size: .8em .8em; */
    /* 12/15 */
    /* display: inline-block; */
    /* width: .8em; */
    /* height: .8em; */
    /* padding-right: .33333333em; */
    /* 5/15 */
/* } */
.award-item,
.skill-item dd,
.other-item li,
.eval-item li,
.project dl dd li{
    position: relative;
}
.award-item:before,
.skill-item dd:before,
.other-item li:before,
.eval-item li:before,
.project dl dd li:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #409eff;
    box-sizing: border-box;
    vertical-align:middle;
}

.award-item:after,
.skill-item dd:after,
.other-item li:after,
.eval-item li:after,
.project dl dd li:after{
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 6px;
    height: 10px;
    border: 2px solid #409eff;
    border-top: 0;
    border-left: 0;
    position: absolute;
    left: 5px;
    top: 8px;
    transform: translateY(-50%) rotate(45deg);
    
}

/* css for skill */

.skill-item dd {
    margin-left: 0;
}

.skill-item dt {
    margin: .33333333em 0;
    /* 5/15 */
}

.skill-item {
    margin-bottom: 1em;
    /* 15/15 */
}

.skill-item:last-child {
    margin-bottom: 0;
}


/* end skill */


/* css for footer */

.header1{
    width: 160mm;
    height: 20mm;
    /* margin: 30px auto; */
    text-align: center;
}
.header2{
    width: 160mm;
    margin-top: 0;
    margin-left: 25px;
    /* padding-bottom: 10px; */
    vertical-align: text-top;
    justify-content: space-between;
}

/* end footer */


/* css for media */

@media screen and (min-width: 210mm) {
    .container {
        width: 210mm;
    }
    /* header {
        justify-content: space-between;
    } */
    /* .title {
        text-align: center;
        position: relative;
        margin-left: 50%;
    } */
    .content > article {
        width: 190mm;
    }
    .content > article:first-child {
        padding-right: 2em;
    }
    .content > article:last-child {
        padding-left: 2em;
    }
}

@media screen and (max-width: 210mm) {
    .container {
        width: 100%;
    }
    .content > article {
        width: 100%;
    }
    header,
    .content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    header {
        align-items: center;
    }
    .content > article {
        padding: 0;
    }
    address {
        font-size: .94em;
    }
}


/* end media */
